.frontsection {
    background-color: #e6e8e8;
    height: 570px;
}
.navColor{
    background-color: #313e50;
}

.heading{
    text-align: center;
    padding-top: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}